<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition - Attendance</title>
<style>
        body {
            background-color:#E5E7E9;
            }
         .container {
            width: 200px;
            margin: auto;
            margin-top: 50px;

            height: auto;
            border: 3px solid #000000;
            border-radius: 0.5em;
            padding: 100px;
            justify-content: "center";
            align-content: "center";
            }
</style>
</head>
<body>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-primary alert-dismissible fade show" role="alert" style="background-color: yellow;">
                        <span>{{ message }}</span>
                        <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close"> -->
                        <!-- <span aria-hidden="true">&times;</span> -->
                        <!-- </button> -->
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="container">
    <div>
        <form action="./start-attendance">
            <a href="{{ url_for('init_start_attendance') }}">
                <button style="height: 50px; width: 100px; margin-left:50px">Start Attendance</button>
            </a>
        </form>
    </div>
    <br><br>
    <div>
        <form action="./stop-attendance">
            <a href="{{ url_for('init_stop_attendance') }}">
                <button style="height: 50px; width: 100px; margin-left:50px">Stop Attendance</button>
            </a>
        </form>
    </div>
    <br><br>
    <div>
        <form action="./edit-attendance">
            <a href="{{ url_for('init_edit_attendance') }}">
                <button style="height: 50px; width: 100px; margin-left:50px">Edit Attendance</button>
            </a>
        </form>
    </div>
    <br><br>
    <div>
        <form action="./schedule-visit">
            <a href="{{ url_for('init_schedule_visit') }}">
                <button style="height: 50px; width: 100px; margin-left:50px">Schedule Guardian visit</button>
            </a>
        </form>
    </div>
    </div>
</body>
</html>
